/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

.axis path,.axis line {fill: none;stroke: #000;shape-rendering: crispEdges;}

.inlinesvg #browser_warning {display: none;}

.no-inlinesvg .container {display: none;}

::-ms-tooltip {
    display: none;
}

.flag {
     border: 1px solid black;
}

.similarity-panel .col-md-6:nth-child(2n+1) {
    clear: both;
}

.similar.country {
  cursor: pointer;
  white-space: normal;
}

.regionselector {
  cursor: pointer;
  white-space: normal;
}

.regionselector.active {
  color: red;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1024;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*
  slider {
    display:     block;
    position:    relative;
    height:      30px;
    width:       500px;
  }
  slider span.bar {
    height:     50%;
    z-index:    0;
    background: #eee;
    left:       0;
    top:        25%;
    cursor:     pointer;
  }
  slider span.bar.selection, slider span.bar.unselected {
  }
  slider span.bar.selection {
    background: #0a0;
    opacity:    0.5;
  }
  slider span.bar.unselected {
    width:      auto;
    background: #a00;
    opacity:    0.5;
  }
  slider span.pointer {
    cursor:           pointer;
    width:            15px;
    top:              0;
    bottom:           0;
    background-color: #00a;
  }
  slider span.pointer:hover {
  }
  slider span.pointer.active {
  }
  slider span.bubble {
    font-size:   0.7em;
    line-height: 1.4em;
    font-family: sans-serif;
    text-align:  center;
    text-shadow: none;
    top:         -1.3em;
    cursor:      pointer;
  }
  slider span.bubble.selection, slider span.bubble.limit {
    top: 25%;
  }
  slider span.bubble.selection {
  }
  slider span.bubble.limit {
  }
  slider span.bubble.low, slider span.bubble.high {
  }
  */
  ::-ms-tooltip {
    display: none;
  }
  #slider-container {
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
    -khtml-user-select:    none;
    -moz-user-select:      -moz-none;
    -ms-user-select:       none;
    user-select:           none;
  }

  slider {
  display: inline-block;
  position: relative;
  height: 7px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;
}
slider span {
  white-space: nowrap;
  position: absolute;
  display: inline-block;
}
slider span.base {
  width: 100%;
  height: 100%;
  padding: 0;
}
slider span.bar {
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-border-radius: 1em/1em;
  border-radius: 1em/1em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0c0c0), color-stop(1, #8d8d8d));
  background: -webkit-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
  background: -moz-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
  background: -o-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
  background: -ms-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
  background: linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
  -webkit-box-shadow: inset 2px 2px 5px;
  box-shadow: inset 2px 2px 5px;
}
slider span.bar.selection {
  width: 0%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #13b6ff), color-stop(1, #00a8f3));
  background: -webkit-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
  background: -moz-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
  background: -o-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
  background: -ms-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
  background: linear-gradient(top, #13b6ff 0, #00a8f3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
slider span.pointer {
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: -7px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 2;
  -webkit-border-radius: 1em/1em;
  border-radius: 1em/1em;
}
slider span.pointer:after {
  content: '';
  background-color: #808080;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-border-radius: 1em/1em;
  border-radius: 1em/1em;
}
slider span.pointer:hover:after {
  background-color: #000;
}
slider span.pointer.active:after {
  background-color: #f00;
}
slider span.bubble {
  cursor: default;
  top: -22px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif;
}
slider span.bubble.selection {
  top: 15px;
}
slider span.bubble.limit {
  color: #808080;
}

.btn.indicator.active {
  border-style: solid;
  border-width: medium;
  border-color: #0F0F0F;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

[class*='cols-'].row > *{
  float: none;
  position: relative;
  display: inline-block; 
  /* old ie fixes */
  *zoom: 1; 
  *display: inline;
}

.row.cols-bottom > *{
  vertical-align: bottom;
}

.row.cols-middle > *{
  vertical-align: middle;
}

.row.align-middle > [class*="col-"] {
  display: inline-block;
  vertical-align: middle;
  float: none;
}


/* Indicator colors */
.btn-income {
  color: #fff;
  background-color: #4169E1;
  border-color: #337ab7;
}

.panel-income {
  border-color: #337ab7;
}

.panel-income > .panel-heading {
  color: #fff;
  background-color: #4169E1;
  border-color: #337ab7;
}

.panel-income > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-income > .panel-heading .badge {
  color: #4169E1;
  background-color: #8a6d3b;
}
.panel-income > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}

.btn-health {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.panel-health {
  border-color: #d43f3a;
}

.panel-health > .panel-heading {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.panel-health > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d43f3a;
}
.panel-health > .panel-heading .badge {
  color: #d9534f;
  background-color: #8a6d3b;
}
.panel-health > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d43f3a;
}

.btn-education {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.panel-education {
  border-color: #4cae4c;
}

.panel-education > .panel-heading {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.panel-education > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #4cae4c;
}
.panel-education > .panel-heading .badge {
  color: #5cb85c;
  background-color: #8a6d3b;
}
.panel-education > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #4cae4c;
}

.label-country {
  background-color: #855CAD;
}
}
